.content-container {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden !important;
  width: 100%;
  color: #eee;
  font-family: "Instrument Sans", sans-serif;
}

/* ===== Sidebar ===== */
.sidebar {
  width: 250px;
  background-color: #1c1c1c;
  border-right: 1px solid #fff1;
  padding: 60px 22px 20px 25px;
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 20;
}

/* ===== Mobile Sidebar (Hamburger) ===== */
@media (max-width: 800px) {
  .sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    transform: translateX(-100%);
    width: 260px;
    box-shadow: 10px 0 30px #0008;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

/* ===== Hamburger Button ===== */
.hamburger {
  display: none;
}

@media (max-width: 800px) {
  .hamburger {
    position: fixed;
    top: 58px;
    left: 12px;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1c1c1c;
    border: 1px solid #fff2;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
  }
}

.section {
  margin-bottom: 16px;
}

.section-title {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 8px;
  color: #eee;
}

.section-items {
  font-size: 0.9rem;
  font-weight: 400;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ===== Markdown viewer ===== */
.markdown-container {
  flex: 1;
  background-color: #141414;
  padding: 90px 30px;
  margin: 0;
  overflow-y: scroll;
}

@media (max-width: 800px) {
  .markdown-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.markdown {
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.6;
  color: #ccc;
}

.markdown h1 {
  font-size: 32px;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  color: #eee;
  margin-top: 24px;
  margin-bottom: 12px;
}

.markdown h4 {
  color: #eee;
  margin-top: 20px;
  margin-bottom: 1px;
  padding-bottom: 0;
  letter-spacing: 0.4px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
  scroll-margin-top: 63px;
}

.markdown p {
  margin: 12px 0;
}

.markdown a {
  color: #4da3ff;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown blockquote {
  background-color: #ffc40011;
  border: 1px solid #ffc40011;
  color: #ffc400;
  padding: 1px 15px;
  border-radius: 4px;
}

.markdown code {
  background-color: #1e1e1e;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: "Google Sans Code", monospace;
}

.markdown pre {
  background-color: #1e1e1e;
  padding: 12px;
  border-radius: 8px;
  overflow-x: auto;
}

.markdown img {
  max-width: 100%;
  max-height: 350px;
  border-radius: 7px;
  outline: 2px solid #fff1;
  outline-offset: -2px;
}

.placeholder {
  color: #888;
  font-size: 18px;
  text-align: center;
  margin-top: 100px;
}
