.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 7px;
  font-weight: 700;
  box-sizing: border-box;
  gap: 5px;
  align-items: center;
  background-color: #1f1f1fdd;
  backdrop-filter: blur(30px);
  border-bottom: 1px solid #fff1;
  z-index: 200;

  /* NEW */
  overflow-x: auto;
  white-space: nowrap;
}

.navbar::-webkit-scrollbar {
  height: 4px;
}

.navbar::-webkit-scrollbar-thumb {
  background: #fff2;
  border-radius: 4px;
}

.item {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 6px;
  color: #aaa;
  font-weight: 600;
  transition: background 0.2s;
  flex-shrink: 0;
}

.item:hover {
  background-color: #ffffff08;
}

.item.active {
  background-color: #ffffff13;
  color: #eee;
  outline: 1px solid #fff2;
}

.title-link {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 10px 22px 10px 17px;
  overflow: hidden;
  flex-shrink: 0;
}

.title-text {
  display: block;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.title-text.default {
  color: #f07715;
}

.title-text.hover {
  position: absolute;
  top: 10px;
  left: 17px;
  opacity: 0;
  transform: translateY(5px);
  color: #ffffff;
}

.title-link:hover .default {
  opacity: 0;
  transform: translateY(-5px);
}

.title-link:hover .hover {
  opacity: 1;
  transform: translateY(0);
}
